[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
email-validator = "*"
flask = "*"
flask-socketio = "*"
eventlet = "*"
flask-cors = "*"
torch = "*"
torchvision = "*"
pillow = "*"
requests = "*"
pytest-mock = "*"
cachelib = "*"
flask-session = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
